<?xml version="1.0"?>
<configuration>
  <appSettings>

    <!-- File Path -->
    <add key="FileManager" value="/upload/media/"/>
    
    <add key="FileManager_Filter_image" value="jpg,gif,png,jpeg,JPG,GIF,PNG,JPEG"/>
    <add key="FileManager_Filter_file" value="pdf,PDF,zip,ZIP,7z,7Z,doc,Doc,jpg,gif,png,JPG,GIF,PNG,gz,GZ,STEP,step,dis,DIS,dat,DAT,xls,XLS,xlsx,XLSX"/>
  </appSettings>
    <system.web>

    </system.web>
</configuration>
