@{
    ViewBag.Title = "ContactUs";
}

<div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2 bodyArea">
    <div class="titleSet">
        <img class="img-responsive" src="/Content/_img/titleBG/ContactUs_titleBG.png" />
    </div>
    <div class="inside_Content ContactUs_Content">
        <form class="form-horizontal">
            <div class="form-group">
                <input type="text" class="form-control inputSet" placeholder="User Name">
                <input type="text" class="form-control inputSet" placeholder="Your Email">
                <input type="text" class="form-control inputSet" placeholder="Subject">
                <textarea class="form-control inputSet" rows="6" placeholder="Message"></textarea>
                <button class="form-control inputSet btnSet">SEND</button>
            </div>
        </form>
    </div>
</div>
