/*Default_B*/
#dSlideshow {display: block;max-width: 498px;height: auto;margin: 0 auto;width:498px \9;}
.ADbannerB{width:498px;height:459px;position:relative;float:center;}
.f498x459{width:498px;height:459px;overflow:hidden}
.ADbannerB .f498x459 img{width:498px;height:459px}

.rslides{width:100%;position:relative;list-style:none;padding:0}
.rslides_nav{height:50px;width:27px;position:absolute;-webkit-tap-highlight-color:rgba(0,0,0,0);top:50%;left:0;opacity:1.0;text-indent:-9999px;overflow:hidden;text-decoration:none;background:url(../_img/layout/ADbtn.png) no-repeat 0 0px;margin-top:-27px}
.rslides_nav:hover {background-position:0 -50px;}
.rslides_nav:active{opacity:1.0}
.rslides_nav.next{left:auto;background-position:-27px 0px;right:0}
.rslides_nav.next:hover{background-position:-27px -50px;}
.rslides_tabs{margin:12px auto;clear:both;text-align:center;}
.rslides_tabs li{display:inline;float:none;_float:left;*float:left;margin-right:5px;z-index:999;}
.rslides_tabs a{position:relative;bottom:30px;text-indent:-9999px;overflow:hidden;display:inline-block;_display:block;*display:block;width:11px;height:11px;background:url(../_img/layout/selection.png) 0px 0px no-repeat;}
.rslides_tabs .rslides_here a{background-position:0px -11px;}

/*Default_S*/
#dSlideshowS {display: block;max-width: 496px;height: auto;margin: 0 auto;width:496px \9;}
.ADbannerS{width:496px;height:219px;position:relative;float:center;}
.f496x219{width:496px;height:219px;overflow:hidden}
.ADbannerS .f496x219 img{width:496px;height:219px}

/*Default_C*/
#dSlideshowC {display: block;max-width: 1166px;height: auto;margin: 0 auto;width:1166px \9;}
.ADbannerC {width:1166px;height: auto;position: relative;padding:0 80px 40px 80px;margin:0 auto;}
.f1006x417{width:1006px;height:417px;overflow:hidden}
.f1006x417 img {width: 100%;height: auto;}
.rslides {width: 100%;position: relative ;list-style: none;padding: 0;}
#dSlideshowC .rslides_nav{height:77px;width:40px;position:absolute;-webkit-tap-highlight-color:rgba(0,0,0,0);top:50%;left:0;opacity:1.0;text-indent:-9999px;text-overflow:hidden;text-decoration:none;background:url(../_img/pages/recruitment/care/slideBtn.png) no-repeat 0 0px;margin-top:-56px}
#dSlideshowC .rslides_nav:hover {background-position:0 -77px;}
#dSlideshowC .rslides_nav:active{opacity:1.0}
#dSlideshowC .rslides_nav.next{left:auto;background-position:-40px 0px;right:0}
#dSlideshowC .rslides_nav.next:hover {background-position:-40px -77px;}
#dSlideshowC .rslides_tabs {margin: 0 auto;clear: both;text-align: center;bottom:0px;position:relative;width:150px;display:block;}
#dSlideshowC .rslides_tabs li {display: inline;float: none;_float: left;*float: left;margin-right: 5px;}
#dSlideshowC .rslides_tabs a {position:relative;top:15px;text-indent: -9999px;overflow: hidden;background:url(../_img/pages/recruitment/care/selectionC.png) no-repeat 0px 0px;display: inline-block;_display: block;*display: block;width: 15px;height: 15px;}
#dSlideshowC .rslides_tabs .rslides_here a {background:url(../_img/pages/recruitment/care/selectionC.png) no-repeat 0px -15px;}