<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <connectionStrings>
    <!--<add name="練習14ConnectionString" connectionString="Data Source=.;Initial Catalog=練習14;User ID=sa;Password=sa12345" providerName="System.Data.SqlClient"/>-->
    <add name="flashwolvesConnectionString" connectionString="Data Source=192.168.3.219;Initial Catalog=閃電狼官網_測試;User ID=sa;Password=test@24438615" providerName="System.Data.SqlClient" />
    <!--<add name="flashwolvesConnectionString" connectionString="Data Source=192.168.17.70;Initial Catalog=閃電狼官網;User ID=sa;Password=sa12345" providerName="System.Data.SqlClient"/>-->
  </connectionStrings>
  <!--最大連線數-開始-->
  <system.net>
    <connectionManagement>
      <add address="*" maxconnection="512" />
    </connectionManagement>
  </system.net>
  <!--最大連線數-結束-->
  <!--
    如需 web.config 變更的說明，請參閱 http://go.microsoft.com/fwlink/?LinkId=235367。

    您可以在 <httpRuntime> 標記上設定下列屬性。
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <httpRuntime maxRequestLength="102400" executionTimeout="3600" requestValidationMode="2.0" />
    <webServices>
      <protocols>
        <add name="HttpPost" />
        <add name="HttpPostLocalhost" />
      </protocols>
    </webServices>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      </assemblies>
    </compilation>
    <!--<customErrors mode="Off"/>-->
    <customErrors mode="Off" defaultRedirect="Default.aspx" />
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID" />
  </system.web>
    <system.webServer>
        <directoryBrowse enabled="true" />
    </system.webServer>
</configuration>