<div data-role="footer" data-position="fixed"  id="footer">

@if (ViewBag.cur_controller != "member" && ViewBag.cur_action != "msgbox")
{
<a href="#" id="back_top" data-role="none">
    <div></div>
    <i class="fa fa-arrow-up "></i>
</a>
}

<div  class="sub_navi list_row_title" data-role="none">
    <div class="col_8">&copy; 2014 網銀國際 </div>
    <div class="col_2"><a href="http://www.ironforum.com.tw" class="function_btn">電腦版</a></div>
    <br clear="all"/>
</div>
</div>

