/*首頁*/
a {
    color:#1b85c9;
}
#mainPic {
    position:relative;
    top:120px;
    width: 100%;
    height: 390px;
    margin: 0 auto 10px auto;
    padding: 0;
    display: block;
    background: url('../_img/mainPic.jpg') top center no-repeat;
    background-size: cover;
}

/*跑馬燈*/
#marqueeList {
    width: 100%;
    height: 60px;
    margin: 0 auto;
    background: url('../_img/marqueeBG.jpg') top center repeat-x;
    line-height: 60px;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    font-family: 微軟正黑體;
    letter-spacing: 1px;
    text-align: center;
}
/*APK下載*/
#downloadAPK {
    width: 88%;
    height: 210px;
    margin: 0px auto;
    display: block;
    padding:20px 0 0 0;
}

.downloadAPKimg {
    width: 368px;
    height: 204px;
    display: block;
    border: 1px #777 solid;
    border-radius: 5px;
    float: left;
}

.downloadApkBtn {
    width: 36%;
    height: 206px;
    display: block;
    float: right;
    border-radius: 5px;
    background: url('../_img/APKimg/downloadAPKBtn.png') center center no-repeat #00a5e7;
}
/*公告*/
#postList {
    width: 88%;
    height: auto;
    margin:20px auto;
    background: #fff;
    display: block;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.postListTitle {
    width: 91%;
    height: 67px;
    border-radius: 5px;
    background: url('../_img/postListTitleIcon.png') 3% 50% no-repeat #ef8d01;
    font-size: 24px;
    font-family: 微軟正黑體;
    font-weight: bold;
    color: #fff;
    line-height: 67px;
    padding: 0 0 0 9%;
}

.postListMoreBtn {
    width: 80px;
    height: 40px;
    border-radius: 5px;
    background: #fff;
    color: #c67501;
    font-size: 20px;
    font-family: Arial;
    font-weight: bold;
    line-height: 40px;
    text-align: center;
    text-decoration: none;
    display: block;
    position: absolute;
    margin: 12px 0 0 72%;
}

.postListContent {
    width: 100%;
    height: auto;
    margin: 0;
    padding: 20px 0;
}

    .postListContent ul {
        width: 90%;
        margin: 0 auto;
        padding: 0;
        display: block;
    }

        .postListContent ul li {
            padding: 5px 0;
            margin: 0;
            width: 100%;
            display: block;
            font-size: 20px;
            font-weight: bold;
            font-family: 微軟正黑體;
            line-height: 30px;
            color: #454545;
        }

.system_icon {
    color: #e39600;
    float: left;
    display: inline-block;
}

.active_icon {
    color: #00a5e7;
    float: left;
    display: inline-block;
}

.news_title {
    width: 80%;
    height: auto;
    display: inline-block;
    padding: 0 0 0 2%;
    line-height: 26px;
    cursor: pointer;
}

.news_content {
    width: 95%;
    height: auto;
    margin: 5px 0;
    padding: 5px;
    background: #fff;
    color: #000;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border: 1px #353535 solid;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}

.news_date {
    font-size: 12px;
    font-family: 新細明體;
    letter-spacing: 1px;
    display: block;
    float: right;
    font-weight: normal;
    padding: 0 10px;
}

.news_region {
    display: block;
    float: right;
}

    .news_region img {
        padding: 0 3px;
    }

.news_txt {
    font-size: 15px;
    font-family: 新細明體;
    font-weight: bold;
    margin: 30px auto 20px auto;
    width: 90%;
    line-height: 22px;
}

.region {
    margin: 0 5px;
    display: block;
    float: right;
    text-align: center;
    width: auto;
    height: auto;
}

/*遊戲總覽*/
#gameOverView {
    width:88%;
    height:auto;
    margin: 0 auto;
    background: #383838;
    border-radius: 5px;
    display: block;
    padding:2% 0;
}
.gameOverViewTitleArea {
    width: 26%;
    height:auto;
    padding:0;
    margin:0;
    display:inline-block;
}
.gameOverViewTitle {
    
    font-size: 2em;
    font-weight: bold;
    font-family: 微軟正黑體;
    color: #fff;
    line-height: 2em;
    text-align: center;
    display:block;
    
}
.gameOverViewSecTitle {
    font-size: 1em;
    font-family: 微軟正黑體;
    color: #fff;
    line-height: 1em;
    text-align: center;
    display:block;
}

.gameOverViewItems {
    width: 67%;
    height: auto;
    display: inline-block;
    padding: 0;
}

    .gameOverViewItems ul {
        padding:0;
        margin: 0;
    }

        .gameOverViewItems ul li {
            width: 27%;
            height: auto;
            margin:0 2%;
            display: inline-block;
            background: #fff;
            border-radius: 8px;
            border: 2px #cfcfcf solid;
            text-align: center;
        }

            .gameOverViewItems ul li img {
                width: 85%;
                height: auto;
                padding:8% 2%;
            }

.gameOverViewMoreBtn {
    width: 2%;
    height: 59px;
    padding: 6px;
    display: inline-block;
    background: url('../_img/gameOverviewMoreBtn.png') 50% 50% no-repeat;
}

/*會員login.aspx*/
#content {
    display: block;
    padding: 0;
    margin: 0 auto;
    width: 88%;
    height: auto;
    padding: 20px 0;
}

.dItem {
    display: block;
    padding: 10px 0 0 0;
    margin: 0 auto;
}

#molo_btn {
    display: block;
    width: 100%;
    height: 85px;
    border-radius: 5px;
    background: url('../_img/moloBtn.png') top center no-repeat;
}

#fb_btn {
    display: block;
    width: 100%;
    height: 85px;
    border-radius: 5px;
    background: url('../_img/fbBtn.png') top center no-repeat;
}

#normalTitle, .GameTitle {
    display: block;
    width: 100%;
    height: 85px;
    border-radius: 5px;
    background: #ef8d01;
    line-height: 85px;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    font-family: 微軟正黑體;
    color: #fff;
    letter-spacing: 1px;
    text-shadow: 2px 2px 2px #ba6f03;
    margin:0 0 20px 0;
}

#xin_login_container {
    display: block;
    width: 100%;
    height: auto;
    background: #fff;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding-bottom: 20px;
}

    #xin_login_container .formLabel {
        display: block;
        width: 15%;
        height: 30px;
        float: left;
        font-size: 30px;
        font-weight: bold;
        font-family: 微軟正黑體;
        color: #353535;
        text-align: left;
        line-height: 30px;
        margin: 0 20px 0 10%;
    }

    #xin_login_container input {
        display: block;
        width: 60%;
        height: 30px;
        font-size: 15px;
        margin: 0 0 10px 0;
    }

    #xin_login_container img {
        display: block;
        height: 50px;
        width: 80%;
        margin: 10px auto;
    }

#submitBtn {
    width: 80%;
    height: 67px;
    display: block;
    margin: 0 auto;
    background: #353535;
    color: #fff;
    font-size: 30px;
    font-weight: bold;
    font-family: 微軟正黑體;
    border-radius: 5px;
    line-height: 67px;
    text-align: center;
    text-decoration: none;
}

    #submitBtn:hover {
        background: #777;
    }

    /*Mem_Status.aspx*/
#memberArea {
    display:block;
    width:95%;
    margin:0 auto;
}
    #memberArea ul {
        margin:10px 0;
        padding:0;
    }
        #memberArea ul li {
            display:inline-block;
            width:auto;
            height:20px;
            border-radius:5px;
            background:#1b85c9;            
            padding:3px;
            margin:20px 2px 0px 2px;
            text-align:center;
        }
        #memberArea ul li a{
            text-decoration:none;
            color:#fff;
            font-size:16px;
            line-height:20px;
            padding:7px;      
        }
#memTbs, #memMTPTbs, #memMPTbs1, #memMPTbs2, #Qtb1, #Qtb2, #Qtb3, #Plist, #tbs{
    width:85%;
    height:auto;
    padding:0;
    margin:0 auto;
}
    th {
        width:auto;
        background:#777;
        color:#fff;
        height:30px;
        margin:0 auto;
        text-align:center;
        border-top-left-radius:5px;
        border-top-right-radius:5px;
        letter-spacing:2px;
    }
td {
    text-align:center;
    height:45px;
    letter-spacing:1px;
    color:#353535;
    font-weight:bold;
    font-family:微軟正黑體;
    border:1px #777 solid;
}
/*Mem_ModifyTradingPw.aspx*/
.color_c00000 {
    color:#c00000;
    font-weight:bold;
}
.btn {
    width:80%;
    height:40px;
    margin:0 auto;
    background:#353535;
    color:#fff;
    text-decoration:none;
    display:block;
    line-height:40px;
    border-radius:5px;
}
.bgcolor_ccc {
    background:#ccc;
}
.pageList {
    margin:0 auto;
    width:100%;
}
ul.num{list-style:decimal;}

/*客服中心*/
.normalTitle {
    display: block;
    width: 100%;
    height: 85px;
    border-radius: 5px;
    background: #ef8d01;
    line-height: 85px;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    font-family: 微軟正黑體;
    color: #fff;
    margin-bottom: 20px;
    letter-spacing: 1px;
    text-shadow: 2px 2px 2px #ba6f03;
}

.normalContent {
    display: block;
    width: 100%;
    height: auto;
    background: #fff;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding-bottom: 20px;
    margin: 20px 0 0 0;
}

.contactTitle {
    font-size: 26px;
    font-weight: bold;
    font-family: 微軟正黑體;
    color: #05367a;
    padding: 0 0 0 7%;
}

.contactContent {
    font-size: 20px;
    font-weight: bold;
    font-family: 微軟正黑體;
    color: #353535;
    padding: 0 0 20px 7%;
    line-height: 28px;
}

.contactLink {
    font-size: 20px;
    font-weight: bold;
    font-family: 微軟正黑體;
    color: #353535;
    padding: 0 0 20px 7%;
    line-height: 28px;
    text-decoration: none;
    display: block;
}
/*downloads.aspx*/
.downElse {
    display: inline-block;
    padding: 0 6%;
    margin: 0 auto 20px auto;
    font-size: 20px;
    font-weight: bold;
    font-family: 微軟正黑體;
    color: #353535;
    width: 37%;
}

    .downElse li {
        height: 36px;
        display: block;
        background: url('../_img/downloadIcon.png') 0% 50% no-repeat;
        line-height: 36px;
        padding: 0 0 0 20px;
    }

.downGame {
    display: block;
    padding: 0;
    margin: 0 auto 20px auto;
    width: 100%;
}

    .downGame li {
        margin: 10px .3% 0 1.7%;
        display: inline-block;
        width: 21%;
        text-align: center;
        height: auto;
        border-radius: 8px;
        border: 3px #77d2ff solid;
        padding: 18px 0;
        background:#c6ecff;
    }
        .downGame li img {
            width: 85%;
            height: auto;
            padding:8% 2%;
            border:0px #fff none;
        }
    /*公告專區*/
.BulletinBtnArea {
    display:block;
    width:100%;
    height:auto;
}
.BulletinBtn {
    display:inline-block;
    width:45%;
    height:75px;
    background:#1b85c9;
    border-radius:5px;
    border:5px #1b85c9 solid;
    color:#fff;
    font-size:30px;
    font-weight:bold;
    font-family:微軟正黑體;
    line-height:75px;
    text-align:center;
    text-decoration:none;
    margin:0 0.5% 0 1.5%;
}
.BulletinBtn:hover{
    background:#21497d;
    border:5px #fff solid;
}
.select{
    background:#21497d;
    border:5px #fff solid;
}
.pageBtnArea {
    display:block;
    width:60%;
    height:auto;
    margin:20px auto 0 auto;
}
.pageBtn {
    display:inline-block;
    width:45%;
    height:44px;
    background:#ef8d01;
    border-radius:5px;
    border:3px #ef8d01 solid;
    color:#fff;
    font-size:18px;
    font-weight:bold;
    font-family:微軟正黑體;
    line-height:44px;
    text-align:center;
    text-decoration:none;
    margin:0 0.5% 0 1.5%;
}
.pageBtn:hover {
    border:3px #fff solid;
}
 /*Game_All.aspx*/
 .GameItems {
            padding:0;
            margin:0;
            display:block;
            width:100%;
        }
            .GameItems ul {
                padding:0;
                margin:0 0 0 2%;
                width:100%;
                height:auto;
            }
            .GameItems ul li {
                padding:0;
                margin:0 2.5% 15px 0;
                width:30%;
                height:auto;
                background:#fff;
                display:inline-block;
                box-shadow:2px 2px 5px #333;
            }
        .GameLogo {
            position:relative;
            display:block;
            height:auto;
            width:100%;
            text-align:center;
            margin:0 auto;
        }
            .GameLogo img {
                width: 85%;
                height: auto;
                margin:0;
                padding:4% 2%;
            }
        .GameName {
            position:relative;
            height:37px;
            width:96%;
            background:#b6b6b6;
            margin: 0 auto 2px auto;
            line-height:37px;
            font-size:17px;
            font-family:微軟正黑體;
            color:#000;
            text-align:center;
            display:block;
        }

        /*遊戲說明頁*/
        .GamePageLogo {
            padding: 10px 0 0 0;
            width: 80%;
            height: 130px;
            margin: 0 auto;
            line-height: 130px;
            text-align: center;
            display: block;
        }

        .PageContent {
            width: 100%;
            height: auto;
            margin: 10px auto;
            background: #fff;
            font-size: 16px;
            font-family: 微軟正黑體;
            color: #353535;
            padding: 5px 0;
            font-weight: bold;
            line-height: 24px;
            display: block;
        }

        .PageTitle {
            width: 98%;
            height: 42px;
            background: #008ec7;
            font-size: 24px;
            font-weight: bold;
            font-family: 微軟正黑體;
            color: #fff;
            letter-spacing: 1px;
            display: block;
            padding: 0;
            margin: 0 auto 10px auto;
            text-align: center;
            line-height: 42px;
        }

        .PageContentItem {
            padding: 20px;
        }
        .overRange{
			width:100%;
			height:auto;
			overflow:auto;
		}