@{Layout = "~/Views/Shared/_TeamLayout.cshtml";}
@using Wb.Models;
@using Wb.Pager;
@using Wb.Common;


<div class="sub_navi">    
    <div class="col_10 category_title">您尚未加入戰隊!!</div>
    <br clear="all">
</div>